.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:87%;
    background-color:#FF4500;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closed {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .button {
    display: inline-block;
    border: 2px solid #FFBE7D;
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    width: 50%;
  }
  .button2 {
    display: inline-block;
    border: 2px ;
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    width: 80%;
  }

  .button:hover {
    background: #fff;
    color: #000;

  }
  .button1 {
    display: inline-block;
    border: 2px solid #FFBE7D;
    padding: 30px 20px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  ul.showInColumn{
    display:block;
    float:left;
    list-style:none;

}
ul.showInColumn li{
    list-style:none;
    display:block;
    float:left;
}
.result{
  margin:16px;
  padding: 0px;
  width:95%;
  height:70%;
  font-size: 25px;
}
.total{
  width:70%;
}
.menu img{
width: 300px; /* ความกว้าง */
height: 250px; /* ความสูง */
-moz-border-radius: 80px;
-webkit-border-radius: 80px;
border-radius:30px;
margin: 30px;
padding: 10px;
}
.form-set{
  margin: 0px;
  padding: 0px;
}

.footter{
  background: gray;
  color: #FFF;

}
